<footer>
    
  <small>
    Copyright 2020 Sumo Projects </br>
    no javascript - no cookies - no web analytics trackers - open sourced </br>
    <a href="https://www.sumokoin.org">source code</a>
    | explorer version (api): {{git_branch_name}}-{{last_git_commit_date}}-{{last_git_commit_hash}} ({{api}})
    | Sumokoin version: {{monero_version_full}}
  </small>
  <small>
    Forked from: <a target="_blank" href="https://github.com/moneroexamples/onion-monero-blockchain-explorer">onion-monero-blockchain-explorer</a>
  </small>
</footer>
</div>
</body>
</html>
